body {
  margin: 0;
  background-color: #70c5ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 2px solid #000;
  background: #fff;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
